body {
	font-family: -apple-system,BlinkMacSystemFont,SegoeUI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,HelveticaNeue,sans-serif;
}

.container {
	max-width: 800px;
	margin: 0 auto;
	color: rebeccapurple;
}

.languages {
	display: flex;
	justify-content: center;
}